* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}



.encabezado {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.inactive {
  display: none;
}

.logo {
  background-color: #0e0e0e;
  padding: 20px;
  
}

.menu_ham {
  display: none;
  

}

main {
  display: flex;
  flex-wrap: wrap;
}

.container {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  /* grid-template-columns: repeat(4, 100px); */
  /*grid-template-columns: repeat(2, 1fr); */
   grid-template-columns: 3fr 3fr; 
  /* grid-template-columns: min-content min-content; 
  /* grid-template-columns: max-content max-content;*/
}

.section {
  background-color: #fefefe;
}

.section-a {
  padding: 25px;
  background-color: #fefefe;
}

.section-b {
  padding: 25px;
}

.section-c {
  padding: 25px;
}

.section-d {
  padding: 25px;
}

h1 {
  padding: 25px;
  font-size: 4rem;
  /*background-color: #0062d2;*/
  color: #0a3c91;

}


h2 {
  font-size: 2.5rem;
  color: #ba1e68;
}

p{
  font-size: 2rem;
}
  
  .clear{
    clear: both;
  }

 
  .mobile-menu {
    background-color: #0e0e0e;
    position: absolute;
    top: 120px;
    padding: 24px;
  }
  .mobile-menu a {
    text-decoration: none;
    color: #fefefe;
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  
  
  .slide-toggle{
    display: none;
  }
  
  .slidemenu{
    font-family: arial, sans-serif;
    /*max-width: 600px; */
    /*margin: 50px auto; */
    overflow: hidden;
    background-color: #0e0e0e;
    padding: 20px;
    
  }
  
  .slidemenu label{
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    /*color: #333; */
    color: #ccc;
    opacity: 0.2;
  
  }
  
  .slidemenu label:hover{
    cursor: pointer;
    /*color: #666;*/
    color: azure;
  }
  
  .slidemenu label span{
    display: block;
    padding: 10px;    
  }
  
  .slidemenu label .icon{
    font-size: 20px;
   /* border: solid 2px #333; */
   border: solid 2px #fefefe;
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
  }
  
  /*Bar Style*/
  
  .slider{
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .slider .bar{
    width: 25%;
    height: 5px;
    background: #333;
    border-radius: 5px;
  }
  
  /*Animations*/
  .slidemenu label, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }
  
  /*Toggle*/
  
  .slidemenu .slide-toggle:checked + label{
    opacity: 1;
  }
  
  
  
  .slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
  .slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
  .slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
  .slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }


  @media (max-width: 640px) {
    
    .encabezado {
      display: grid;
      grid-template-columns: 12fr;
    }
   
    .slidemenu {
      display: none;
    }
    
    .menu-ham{
    display: flex;
    align-items: center;
    justify-content: center;
  }
    

  }

  @media (min-width: 641px){
    .mobile-menu {
        display: none;
    }

    .menu-ham{
      display: none;
    }
    
    
  }
  